.side-nav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e7dcd7;
  color: black;
  padding: 20px;

  label{
    color: bisque;
  }
}


.sidenav {
  width: 250px;
  background: #795548;
  padding-left: 6px ;
}


