<mat-sidenav-container class="side-nav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-action-list>
      <label>Creational Patterns</label>
      <button mat-list-item (click)="index = 0">Abstract Factory</button>
      <button mat-list-item (click)="index = 1">Builder</button
      ><button mat-list-item (click)="index = 2">Factory Method</button>
      <button mat-list-item (click)="index = 3">Prototype</button>
      <button mat-list-item (click)="index = 4">Singleton</button>
      <label>Structural Patterns</label>
      <button mat-list-item (click)="index = 5">Adapter</button>
      <button mat-list-item (click)="index = 6">Bridge</button>
      <button mat-list-item (click)="index = 7">Composite</button>
      <button mat-list-item (click)="index = 8">Decorator</button>
      <button mat-list-item (click)="index = 9">Facade</button>
      <button mat-list-item (click)="index = 10">Flyweight</button>
      <button mat-list-item (click)="index = 11">Proxy</button>
      <label>Behavioral Patterns</label>
      <button mat-list-item (click)="index = 12">Chain of Resp</button>
      <button mat-list-item (click)="index = 13">Command</button>
      <button mat-list-item (click)="index = 14">Interpreter</button>
      <button mat-list-item (click)="index = 15">Iterator</button>
      <button mat-list-item (click)="index = 16">Mediator</button>
      <button mat-list-item (click)="index = 17">Memento</button>
      <button mat-list-item (click)="index = 18">Observer</button>
      <button mat-list-item (click)="index = 19">State</button>
      <button mat-list-item (click)="index = 20">Strategy</button>
      <button mat-list-item (click)="index = 21">Template Method</button>
      <button mat-list-item (click)="index = 22">Visitor</button>
    </mat-action-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-tab-content [index]="index"></app-tab-content>
  </mat-sidenav-content>
</mat-sidenav-container>
